<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search All News</title>
</head>
<body>
    
    <form method="POST" action="/search">       
        <table>
             <td>
            <input type="text" name="name" placeholder="Username" size="20" required>
            <input type="text" name="q" placeholder="Search news here" size="20" required>        
        </td>
        <td>
            <button class="btn btn-primary" type="submit">Create</button>
        </td>
        </table>  
</form>

</body>
</html>